---
import PhilosophyPrincipleItem from "./PhilosophyPrincipleItem.astro";
import {
  ShieldCheck,
  Scale,
  Eye,
  Repeat,
  ZapOff,
  TrendingUp
} from "lucide-react";
import { useTranslations, getLanguageFromPath } from "../../../i18n/utils";

const lang = getLanguageFromPath(Astro.url.pathname);
const t = useTranslations(lang);
---

<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 reveal scale">

  <PhilosophyPrincipleItem
    text={t("philosophy.principles.definedRisk")}
    Icon={ShieldCheck}
  />

  <PhilosophyPrincipleItem
    text={t("philosophy.principles.noOverexposure")}
    Icon={Scale}
  />

  <PhilosophyPrincipleItem
    text={t("philosophy.principles.transparentLogic")}
    Icon={Eye}
  />

  <PhilosophyPrincipleItem
    text={t("philosophy.principles.consistencyOverFrequency")}
    Icon={Repeat}
  />

  <PhilosophyPrincipleItem
    text={t("philosophy.principles.executionWithoutImpulse")}
    Icon={ZapOff}
  />

  <PhilosophyPrincipleItem
    text={t("philosophy.principles.longTermMindset")}
    Icon={TrendingUp}
  />

</div>
